

.goTo {
  a {
    color: black;
    transition: all 0.3s;
    &:last-child {
      font-size: 14px;
      color: $clr-hover;
      font-weight: 700;
      border-radius: 4px;
      padding: 5px 15px;
      border: 1px solid $clr-hover;
      &:hover {
        background-color: $clr-hover;
        color: white;
        border: 1px solid transparent;
      }
    }

    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    font-size: 16px;
  }
  display: flex;
  gap: 23px;
  align-items: center;
}

.logo {
  cursor: pointer;
  span {
    color: $clr-hover;
  }
  color: black;
  font-size: 2rem;
  font-family: 'Macan-Bold';
  display: inline;
  text-decoration: none;
  font-stretch: 50%;
  font-weight: 600;
}

.container-home {
  grid-column: 1 / -1;
}

.home-search-container {
  margin: 24px 0px;
  flex-direction: column;
  .home-search {
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    display: flex;

    button {
      color: white;
      padding: 5px 25px;
      margin: 0;
      background-color: #1dbf73;
      border: 1px solid #1dbf73;
      border-radius: 0 4px 4px 0;
      font-weight: 600;
      font-size: 1rem;
    }
  }

  .search {
      svg {
        fill: rgb(98, 100, 106);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        border-radius: 4px 0 0 4px;
        width: 24px;
        padding-top: 3px;
      }
    
    .icon {
      padding: 0px 13px;
    }
    display: flex;
    width: 100%;
  }



  input {
    &::placeholder {
      color: #9f9a9d;
    }

    font-family: 'Macan-Regular';
    font-size: 16px;
    border: 0;
    width: 100%;
    outline: 0;
    height: 48px;
  }
}

.headerHome{
  border: 0;
  position: fixed;
  background-color: transparent;
  a{
    &:last-child{
      border-color: white;
    }
    color: white !important;
  }

  .logo{
    color: white;
  }
}

.homeScroll{
  background-color: white;
  .logo{
    color: $clr4;
  }
  .goTo a{
    color: $clr3!important;
    &:last-child {
      color: $clr-hover !important;
      font-weight: 700;
      border-radius: 4px;
      padding: 5px 15px;
      border: 1px solid $clr-hover;
      &:hover {
        background-color: $clr-hover;
        color: white;
        border: 1px solid transparent;
      }
    }
  }

 
}



.header-suggestions {
  display: flex;
  align-items: center;
  gap: 12px;
  span {
    color: white;
    font-size: 14px;
  }
  ul {
    li {
      cursor: pointer;
      font-size: 13px;
      border-radius: 20px;
      border: 1px solid #fff;
      border-radius: 40px;
      color: #fff;
      font-weight: 600;
      line-height: 24px;
      padding: 1px 14px 0;
      -webkit-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      z-index: 4;
      &:hover {
        background-color: #fff;
        color: #404145;
        text-decoration: none;
      }
    }
    margin: 0;
    display: flex;
    padding: 0;
    gap: 15px;
    list-style-type: none;
  }
}
