header {
  @include for-wide-layout {
    grid-template-columns: 32px 1fr 32px;
  }
  height: 80px;
  display: grid;
  align-items: center;
  margin: auto;
  grid-template-columns: 1fr 1400px 1fr;
  width: 100%;
  position: fixed;
  z-index: 99;
  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

nav {
  width: 100%;
}

.goTo {
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
}

.logo {
  span {
    color: green;
  }
  color: #fff;
  font-size: 2rem;
  display: inline;
  text-decoration: none;
  font-stretch: 50%;
  font-weight: 600;
}

.container-home {
  grid-column: 1 / -1;
}

.home-search-container {
  margin: 24px 0px;
  .home-search {
    border-radius: 4px;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    display: flex;
    button {
      padding: 5px 20px;
      margin: 0;
      background-color: #1dbf73;
      border: 1px solid #1dbf73;
      border-radius: 0 4px 4px 0;
      color: #fff;
      font-weight: 600;
      font-size: 1rem;
      height: 3rem;
    }
  }

  .search {
    .icon {
      padding: 0px 17px;
    }
    display: flex;
    width: 100%;
  }

  svg {
    fill: rgb(98, 100, 106);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 4px 0 0 4px;
    width: 24px;
    padding-top: 3px;
  }

  flex-direction: column;
  input {
    color: #9597b3;
    font-family: 'Macan-semi-bold';
    font-size: 16px;
    border: 0;
    width: 100%;
    outline: 0;
    height: 48px;
  }
}
