.gig-user-info {
    height: auto;
    font-size: 1rem;
    margin: 0 90px;
    max-width: 700px;
    margin-right: 123px;

    .title {
        font-size: 1.75rem;
        padding-block-end: 0.5714285714em;
        overflow-wrap: break-word;
        font-weight: 700;
        line-height: 130%;
    }

    .info-img {
        font-size: 14px;
        gap: 1em;
        margin-bottom: em(16px);

.seller-level{
  
}

        .name {
            
            font-weight: bold;
            align-items: start;
        }

        .logo {
            width: 1em;
        }
    }

    .img {
        width: auto;

        .img-container {
            padding-bottom: 60px;
        }

        .thumbnails {
            margin: auto;
        }

        .thumbnails .vueperslide {
            box-sizing: border-box;
            border: 1px solid #fff;
            transition: 0.3s ease-in-out;
            opacity: 0.4;
            cursor: pointer;
        }

        .thumbnails .vueperslide--active {
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
            opacity: 1;
        }

        .vueperslides__arrow {
            svg {
                height: 25px;
                width: 25px;
                stroke-width: 3px !important;
                color: #555555;

            }

            background-color: #fff;
            border: 0;
            opacity: 1;
            -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            font-size: 16px;
            height: 48px;
            line-height: 100%;
            border-radius: 50%;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 48px;
            z-index: 4;
        }

        .vueperslides:hover .vueperslides__arrow {
            margin: auto !important;
        }

        .vueperslides .vueperslides__arrow--next {
            left: 97%;
        }

        .vueperslides .vueperslides__arrow--prev {
            left: -3%;
        }

    }

    .gig-review {
        margin-bottom: em(12px);

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            a {
                color: $clr-main
            }
        }

        .review-container {
            border: 1px solid $clr10;
            border-radius: 0.25em;
            padding: 1em 1.5em;
            margin-bottom: em(75px);

            .grid {
                display: grid;
                grid-template-columns: auto 1fr;
                grid-template-rows: auto 1fr;
                grid-template-areas: "img details"
                    ". review";



                .img {
                    margin-inline-end: em(16px);
                    width: em(48px);
                    height: em(48px);
                    border-radius: 50%;
                    grid-area: img;

                }

                .user-details {
                    display: flex;
                    grid-area: details;


                    .img {
                        height: 20px;
                        width: 20px;
                    }

                    .ul-rate {
                        display: flex;
                        flex-direction: row;
                    }

                }

                .preview-content {
                    grid-area: review;
                    margin-block-start: 0;
                    font-size: .875rem;
                    line-height: 1.7142857143e;

                    .content {
                        margin: 0;
                        color: $clr3;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        display: -webkit-box;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }

        }

    }

    .gig-desc {
        padding-block-end: em(25px);

        h3 {
            font-size: 22px;
            line-height: 1.4em;
            font-weight: 700;
            margin-bottom: 32px
        }

        p {
            color: $clr3;
            word-break: break-word;
            word-wrap: break-word;
            font-size: em(18px);
            font-weight: 400;
            line-height: 26px;
            white-space: pre-wrap;
            font-weight: 600;
            margin-bottom: 20px;
        }

        .metadata {
            border-top: 1px solid $clr9;
            padding-top: 20px;

            p {
                color: $clr01;
                font-size: 18px;
                margin-bottom: 10px;
            }


            .attribute {
                box-sizing: border-box;
                padding-right: em(20px);
                width: 33%;
                color: $clr2;

                ul {
                    padding-bottom: em(20px);
                }

                li {
                    font-size: em(18px);
                    line-height: em(27px);
                }
            }
        }
    }

    .about-seller {

        margin-bottom: em(8px);

        h2 {
            font-size: me(20px);
            margin-bottom: em(8px);
        }

        .seller-preview {
            margin-block-end: em(24px);
            font-size: 1rem;
        }

        .img-container {
            height: 110px;
            width: 110px;
            margin-right: em(15px);



            img {
                border-radius: 50%;
            }
        }

        .info-details {
            flex-direction: column;
            color: $clr3;
            cursor: pointer;
            font-weight: 700;
            line-height: 1.25em;
            padding-block-end: 0.3125em;


            p {
                padding-block-end: 5px;
                padding-block-start: 0;
            }


            .line {
                display: flex;
                gap: em(5px);

                .online {
                    display: flex;
                    border: 1px solid $clr-main;
                    color: $clr-main;
                    align-items: center;
                    justify-content: space-between;
                    margin-inline-start: em(15px);
                    border-radius: 0.75em;
                    margin-block-end: 0.3125em;
                    padding: 0 0.625em;
                    gap: 5px;

                    .dot {
                        display: flex;
                        fill: $clr-main;
                        justify-content: center;
                        align-items: center;
                    }
                }

            }

            .ul-rate {
                gap: em(8px);
            }

            .contact-me-btn {
                padding: 0.8571428571em 1.7142857143em;
                margin-block-start: 20px;
                font-size: .875rem;
                color: $clr3;
                cursor: pointer;
                width: auto;
                background: none;
                font-weight: 600;
                line-height: 100%;
                border: 1px solid $clr02;
                border-radius: 0.2857142857em;
                max-width: 130px;

                &:hover {
                    background-color: $clr2;
                    color: $clr6;
                }
            }
        }

        .seller-details-container {
            border: 1px solid $clr9;
            border-radius: 0.1875em;
            padding: 1.5em;
            margin-block-end: em(32px);
            color: $clr2;
            font-size: 18px;

            .user-info {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }

            li {
                padding-block-end: 1.5em
            }

            .key {
                padding-block-end: 0.25em;
            }

            .value {
                font-weight: 700;
            }

            .seller-desc {
                border-top: 1px solid $clr9;
                line-height: 150%;
                padding-block-start: 0.9375em;
            }
        }

    }

    .review-container {
        font-size: em(20px);
        line-height: em(28px);
        margin-bottom: em(28px);
        font-weight: 700;

        .review-star {
            gap: em(10px);

            p {
                color: $clr-star;
            }
        }

        .breakdown-progress {
            font-weight: 800;
            font-size: em(18px);
            margin-bottom: em(30px);

            .progress-bar {
                min-width: 60%;
                gap: 0.625em;

                progress {
                    margin-right: 8px;
                    position: relative;
                    display: inline-block;
                    height: 10px;
                    border-radius: 6px;
                    overflow: hidden;
                }

                progress::-webkit-progress-bar {
                    background-color: #eeeeee;
                }

                progress::-webkit-progress-value {
                    background-color: $clr-progress-bar !important;
                }

            }

            .key {
                color: $clr13;
                width: 25%;
            }

            .progress-container {
                line-height: 10px;

                .star-num {
                    color: $clr13;
                    font-family: 'Macan-Regular';
                    font-weight: 100;
                    font-size: 18px;
                }
            }

            .rating-bar {
                width: 100%;
                color: $clr2;

                .main-title {
                    font-weight: 600;
                    padding-bottom: 10px;
                    font-size: 18px;
                }

                .rating-option {
                    font-size: 16px;
                }

                .ratting {
                    margin-left: em(5px);
                    color: $clr-star;
                    font-size: 16px;
                }
            }
        }

        .review-item {
            padding: 40px 0;
            border-top: 1px solid $clr9;

            .review-header {
                align-items: center;

                .user-profile-image {
                    display: flex;
                    align-items: center;
                    gap: 12px;

                    .user-img {
                        width: 48px;
                        height: 48px;
                        font-size: 1em;

                        img {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .user-info {
                        color: $clr4;
                        font-size: em(14px);

                        .country {
                            font-size: em(14px);
                            font-weight: 200;
                        }
                    }
                }
            }

            .review-details {

                .stars-count {
                    margin-top: 10px;

                    .review {
                        fill: $clr-star;
                    }

                    .review-num {
                        color: $clr-star;
                        font-size: 16px;
                        padding-left: 5px;
                    }

                    .border {
                        border-right: 1px solid $clr7;
                        margin: 2px 8px;
                        height: 14px;
                    }

                    p {
                        font-size: 16px;
                        line-height: 21px;
                        font-weight: 500;
                        color: $clr3;
                    }
                }

                .review-text {
                    p {
                        word-wrap: break-word;
                        color: $clr4;
                        font-weight: 300;
                        font-size: 18px;
                        word-spacing: 0;
                        line-height: 1px;
                        line-height: 28px
                    }
                }

                .helpful {
                    margin-top: 8px;
                    color: $clr4;
                    font-size: 16px;

                    span {
                        margin-right: 10px;
                    }

                    div {
                        margin-right: 10px;
                    }
                }
            }
        }
    }
}