.gig-purchase {
    display: flex;
    flex-direction: column;
    position: sticky;
    width: 409px;
    height: 525px;
    top: 0;
    right: em(20px);
    margin-bottom: em(8px);
    gap: em(25px);
    flex-shrink: 1;

    .header {
        line-height: em(21px);
        padding-bottom: em(10px);
        margin-bottom: em(8px);

        .gig-title {
            font-size: em(20px);
            margin: 0 0 25px;
        }
    }

    .info {
        padding: $padding;
        border-bottom: 0.5px $clr02 solid;
        border: 0.2px solid rgb(229 222 222 / 48%);
    }

    .options {
        height: auto;

        margin-bottom: em(8px);

        color: $clr02;

        b.delivery,
        .revisions {
            padding: 0 5px;
        }

        span {
            align-self: center;
        }

    }

    .features {
        margin: 0;
        padding: 0;
        margin-bottom: em(15px);

        line-height: 0%;

        list-style: none;
        list-style-image: none;

        color: $clr01;

        span {
            margin-right: 1em;
        }

    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        max-width: fit-content;


        &.gig-purchase-txt {
            text-align: left;
            color: $clr02;
        }
    }

    .footer {
        display: flex;
        justify-content: center;
        height: 42px;
        width: 100%;
        margin-bottom: 20px;
        cursor: pointer;

        border-radius: em(5px);

        background-color: $clr-main;

        .btn-purchase {
            font-size: em(16px);

            color: $clr6;
            background-color: inherit;
            border: 0;
        }
    }

    .contact-seller {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        cursor: pointer;


        background-color: $clr11;

        .contact-seller-wrapper {
            display: flex;
            justify-content: center;
            width: 90%;
            height: 50%;

            border: 1px $clr3 solid;
            border-radius: em(5px);

            &:hover {
                background-color: $clr2;
                color: $clr11;

                .contact-seller-btn {
                    color: $clr6;
                }
            }
        }

        button.contact-seller-btn {
            margin: auto;
            align-items: center;

            color: $clr3;
            background-color: inherit;

            font-size: em(20px);
            font-weight: 500;
            border: 0;
        }
    }

}