.gig-details-main {
    .details-nav {
        padding: em(14px) 0px;
        border-bottom: 1px solid $clr10;
        position: sticky;
        top: 0;
        z-index: 99;
        background-color: $clr6;

        .details-router {
            font-family: 'Macan-Bold';
            font-size: em(12px);
            gap: em(28px);
            cursor: pointer;

            .detail-router:hover {
                &:after {
                    background: #1dbf73;
                    bottom: -7px;
                    height: 3px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                    z-index: 1;
                }
            }
        }
    }

    .gig-details {
        grid-column: 2;

        flex-wrap: wrap;
        font-family: 'Macan-Regular';
        font-size: rem(14px);
        line-height: 140%;
        word-break: break-word;

        color: $clr1;

        margin-block-start: em(32px);
    }
}

.type-tag {
    transition: all 0.3s;
    border-bottom: 1px solid #e4e5e7;
    border-top: 1px solid #e4e5e7;

}

//Gig-User-Info
@import '../cmps/GigDetailsUserInfo.scss';

//Gig-Purchase
@import '../cmps/GigDetailsPurchase.scss';