.gig-filter {
  position: sticky;
  display: grid;
  top: 0;
  z-index: 100;
  background-color: #fff;
}

.rotate{
  transform: rotate(180deg);
}

.budget{
  transition: all 0.3s;
  &:hover{
    box-shadow: 0 0 0 1.3px var(--el-input-border-color,var(--el-border-color));
  }
  padding: 12px 14.9px;
  gap: 2px;
  cursor: pointer;
  .arrow-down{
    padding-left: 7%;
  }
  border-radius: 8px;
  box-shadow: 0 0 0 1px var(--el-input-border-color,var(--el-border-color));
  display: flex;
  height: 95%;
  text-align: center;
  align-items: center;
}

.filters {
  padding: 1em 0em;
  display: flex;
  gap: 0.6em;
  grid-column: 2;
  align-items: center;
  color: $clr1;
  font-size: 1rem;  
  border-radius: 10px;
  .txt-budget {
    font-family: Macan-bold;
    font-weight: 400;
    color: $clr1;
    font-size: em(16px);
  }
}

.icon-arrow {
  display: flex;
  svg {
    fill: black;
    height: em(15px);
    width: em(18px);
    position: inherit;
  }
}

.days-deliver{
  border-radius: 8px;
  .el-select{
    .el-input__inner{
      &::placeholder{

        color: #222325!important;
      }
      font-family: 'Macan-Bold';
      font-weight: 400;
      font-size: em(18px);
    }
    .el-input__wrapper{
      border-radius: 8px;
      padding: 5px 15px;
    }
   
    max-width: 160px;
  }
}

.budget-dropdown {
  z-index: 100;
  font-family: Macan-Regular;
  position: absolute;
  background-color: #fff;
  transform: translate(em(1px), em(110px));
  width: 316px;
  border-radius: 4px;
  box-shadow: 0 12px 18px #00000024;
  border: 1px solid #dadbdd;
  p {
    font-size: 12px;
    margin-bottom: 10px;
    color: #95979d;
  }
}

.inputs {
  display: flex;
  justify-content: space-between;
  padding: 15px 24px;
  input {
    max-width: 120px;
    height: 40px;
    border-radius: 4px;
    border: 0;
    box-shadow: 0 0 0 1px #dadbdd;
    padding-inline-start: 10px;
  }
  i {
    color: #95979d;
    font-size: 0.875rem;
    position: absolute;
    transform: translate(-16px, 10px);
    font-style: normal;
  }
}

.buttons-budget {
  display: flex;
  border-top: 1px solid #dadbdd;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  font-size: 14px;
  button {
    background-color: #1dbf73;
    font-weight: 700;
    height: 30px;
    width: 65px;
    padding: 4px 12px;
    border-radius: 4px;
    border: 0;
    color: #fff;
    font-size: 0.875rem;
  }
  .clear {
    cursor: pointer;
    color: #95979d;
  }
}

.shadow {
  box-shadow: 0 9px 20px -13px #74767ed9;
}


.el-select-dropdown__item {
  font-family: Macan-Regular;
  text-align: center;
}
.el-select-dropdown__item.selected {
  color: #1dbf73;
}
