.gig-index {
  grid-column: 2;
 margin: 25px 0px;
}

.add-gigs-container {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  margin-top: 60px;
}

.selected-category{
  color: $clr4;
  margin-bottom: 10px;
}