.gig-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  li {
    list-style: none;
    margin-bottom: 2em;
    width: 80%;
  }
  a {
    color: $clr1;
    padding: 10px;
  }
  pre {
    background-color: #ddd;
    font-size: 0.5em;
    color: #333;
    padding: 0.2em;
    margin: 0.2em;
  }
}

.gig-seller-rate {
  margin: 0;
}
