.gig-preview {
  background-color: #fff;
  font-family: Macan-Regular;
  .gig-preview-info {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    p {
      font-size: 1rem;
      margin: 0;
      padding: 0;
      color: $clr1;
    }
  }
  img {
    height: 80%;
  }
  .gig-preview-rate {
    font-family: Macan-Bold;
    font-size: 20px;
  }

  .gig-preview-price {
    display: flex;
    font-family: Macan-Bold;
    color: $clr1;
    align-items: center;
    height: 25px;
  }
  .txt-capitalized {
    font-family: Macan-Bold;
    color: $clr1;
    padding: 0;
  }
}
.gig-span-price {
  margin-left: 0.5rem;
}

.seller-container {
  display: flex;
  margin-top: 0.5rem;
  line-height: 0.5rem;
  font-family: Macan-Regular;
  align-items: center;
  gap: 0.5rem;
  .seller-img {
    height: 30px;
  }
}

.seller-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  .seller-name {
    color: $clr1;
    font-family: Macan-Regular;
    font-size: 0.9rem;
  }
  p {
    font-size: 0.8rem;
    color: $clr2;
  }
}

.gig-rating {
  display: flex;
  font-size: 1.5em;
  align-items: center;
  gap: 0.2rem;
  span {
    fill: $clr4;
  }
}

.total-rates {
  margin-left: 0.2rem;
  font-family: Macan-Regular;
  color: $clr2;
}
.vueperslides__parallax-wrapper {
  padding-bottom: 61.8% !important;
}
.vueperslides {
  .vueperslides__arrow {
    width: 25px;
    height: 25px;
    padding: 0.2em 0.1em;
    transition: 0.2s;
    & svg {
      width: 1.6em;
      height: 1.4em;
      padding: 0.3em 0;
      stroke-width: 3;
    }
  }
  .vueperslides__arrow--prev {
    border-radius: 50%;
    display: flex;
    align-items: center;
  }

  .vueperslides__arrow--next {
    border-radius: 50%;
    display: flex;
    align-items: center;
  }
  &:hover .vueperslides__arrow {
    background-color: #ffffff;

    & svg {
      color: #000000;
    }
  }
  .vueperslides__arrow--prev {
    left: 20;
    .vueperslides__arrow--next {
      right: 20;
    }
  }
}
