.app-container {
    grid-column: 2;
    font-size: rem(16px);

    .gig-payment {
        margin: em(32px);

        .payment-details-container {
            flex: 1.5;
            max-height: 420px;
            flex-wrap: wrap;
            min-width: em(350px);
            border: 1px solid $clr9;
            border-radius: 0.1875em;
            background-color: $clr11;
            color: $clr2;
            margin-inline-end: em(50px);

            .title-purchase {
                padding: 1.2em;
                font-size: em(16px);
            }

            .checkbox {
                width: 10px;
                height: 10px;
                clip-path: circle(62% at 50% 50%);
                margin-bottom: 6px;
            }



        }

        .credit-selection {
            background-color: $clr6;
            height: em(50px);
            padding-inline-start: em(24px);
            align-items: center;
            font-size: em(16px);


            .visa {
                width: 100px;
                height: 50px;

                .icon {
                    width: 100%;
                    height: 100%;
                }
            }
        }

        .payment-option {

            font-size: em(14px);

            padding: 2.2em em(55px);

            .card-info {
                margin-bottom: em(56px);

                .card-num {
                    display: flex;
                    margin-inline-end: 50px;
                    min-width: 240px;
                    flex: 1;
                }
            }

            p {
                font-family: 'Macan-Bold';
                font-size: em(16px);
                margin-bottom: em(13px);
            }

            input {
                height: em(40px);
                border-radius: em(3px);
                border: 1px solid $clr9;
                padding-inline-start: em(15px);
                font-size: em(18px);
                color: $clr3;
            }

            .short {
                max-width: 110px;
                margin-inline-end: 20px;
            }

            .name-inputs {
                flex-direction: row;
                flex-wrap: wrap;
            }

            .name-input {
                width: em(240px);
                margin-inline-end: em(50px);
            }
        }

        .package-container {
            max-width: em(345px);
            flex: 1;
            border-radius: em(3px);
            border: 1px solid $clr9;
            margin-block-end: 16px;

            .gig-package-payment {
                min-width: 340px;

                button {
                    border: 1px solid transparent;
                    border-radius: 0.25em;
                    font-size: 1rem;
                    font-weight: 600;
                    font-family: inherit;
                    line-height: 100%;
                    padding: 0.75em 1.5em;
                    position: relative;
                    text-align: center;
                    width: 100%;
                    transition: 70ms cubic-bezier(.75, 0, .25, 1);
                    cursor: pointer;
                }
            }
        }

        .main-header {
            padding: 1em 1.5em;
            background-color: $clr11;
            border-bottom: 0.5px solid #dadbdd70;


        }

        .header {
            margin-block-end: 18px;
            min-height: 48px;
            border-bottom: 1px solid $clr9;

            .title {
                font-size: 1rem;
                font-family: 'Macan-Bold';
                color: $clr4;
                flex: 1;
            }

            .img-container {
                width: em(90px);
                height: em(55px);
                margin-right: em(12px);

                img {
                    width: 100%;
                    border-radius: 5px;
                }
            }
        }

        .footer-purchase {
            padding: 1em 1.5em;


        }

        .promo {
            border-bottom: 0.5px solid #dadbdd70;
            padding: em(21px);

            p {
                font-size: em(14px);
                color: $clr4;
                color: $clr3;
            }

        }

        .price {
            font-size: 1.25rem;
            line-height: 1.5em;
            font-weight: 400;
            color: $clr4;
        }

        .features {

            li {
                display: flex;
                align-items: center;
                font-size: em(15px);
                color: $clr02;
                line-height: em(33px);
            }

        }

        .regular {
            font-family: 'Macan-Regular';

            .svg-container {
                width: 16px;
                height: 16px;
                margin-inline-end: 10px;

            }

            &.fill {
                fill: $clr-review-star
            }



        }

        .pricing {
            // margin-top: em(16px);
            display: flex;
            justify-content: space-between;
            color: #62646a;

            p {
                font-size: 1rem;
                margin-block-end: 10px;
                line-height: 120%;
                font-weight: 500;
                margin-bottom: 20px;
            }

            &.total {
                border-top: 1px solid $clr9;
                padding-top: em(15px);
                color: $clr4;

                p {
                    font-weight: 700;
                }
            }

        }

        .continue-btn {
            background-color: $clr1;
            color: $clr6;

            &:hover {
                background-color: $clr-main;
            }
        }

    }
}