.container-about {
  h3 {
    margin-bottom: 30px;
  }
  padding: 35px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 400px;
  background-color: #fff;
  z-index: 250;
  border-radius: 4px;
}
.login-form {
  h3 {
    color: $clr4;
    font-size: 22px;
  }
  span {
    margin-top: 12px;
    font-size: 16px;
  }
  a {
    font-size: 16px;
    cursor: pointer;
    color: #00f !important;
  }
  button {
    margin-top: 8px;
    width: 100%;
    height: 42px;
    font-size: 1.125rem;
    font-weight: 700;
    color: #fff;
    background-color: #1dbf73;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
  }
  input {
    &::placeholder {
      font-weight: 200;
      font-size: 16px;
      font-family: 'Macan-Regular';
      color: #abadb1;
    }
    font-size: 16px;
    width: 100%;
    height: 42px;
    border-radius: 5px;
    margin: 10px 0;
    padding-inline-start: 10px;
    font-size: 16px;

    border: 1px solid #62646a;
    color: $clr1;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:focus {
    transition: background-color 600000s 0s, color 600000s 0s;
  }
  color: $clr1;
  width: 336px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  z-index: 10;
}
.upload-preview {
  img {
    aspect-ratio: 1;
  }
}
