.seller-profile-img {
  height: 160px;
  width: 160px;
}

.seller-profile {
  padding-top: 40px;
  background-color: #f7f7f7;
}

.seller-profile-gig {
  background-color: white;
}

.seller {
  width: 50%;
  .desc-container {
    h4{
        color: $clr1;
    }
    border: 1px solid $clr01;
    padding: 50px;
    background-color: white;
  }
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.user-info {
  border: 1px solid $clr01;
//   height: 365px;
  padding: 20px;
  background-color: white;
  .seller-profile-info {
    text-align: center;
    .details{
        span{
            font-weight: bold;
        }
        padding: 5px;
        width: 100%;
        h4{
            font-weight: 200;
            padding: 10px;
            display: flex;
            justify-content: space-between;
        }
        border-top: 1px solid rgb(195, 195, 195);
    }
    gap: 50px;
    h2 {
      color: $clr4;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.seller-profile-gigs {
  .seller-profile-gig-info {
    display: flex;
    justify-content: center;
  }
  width: 100%;
  h4 {
    padding: 20px;
    background-color: white;
  }
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.seller-profile-container {
  height: 100vh;
  .seller-profile {
    display: flex;
    flex-direction: column;
  }
  grid-column: 2/ 3;
  display: flex;
  gap: 200px;
}
