.popular-services-section {
  margin-bottom: 96px;
  .services {
    display: flex;
    gap: 38px;
  }
  h2 {
    padding-bottom: 24px;
    color: $clr4;
    align-self: baseline;
    font-size: 32px;
  }
  img {
    border-radius: 4px;
    width: 250px;
    object-fit: cover;
    height: 345px;
  }
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  place-content: center;
}
