.side-menu > * {
  margin-top: 30px;
}




.side-menu {
  transition: 0.3s all;
  translate: -102% -4%;
  box-shadow: 20px 0 20px 800px #33323287;
  opacity: 0;
  // box-shadow: none;
  summary {
    color: $clr4;
    margin-bottom: 20px;
  }
  a {
    color: $clr1;
  }
  .user-info {
    p {
      color: $clr1;
    }
    align-items: center;
  }
  .img-container {
    img {
      aspect-ratio: 1;
      border-radius: 50%;
      height: auto;
    }

    @include for-tablet-layout{
      width: 35px;
     
      
      margin-inline-end: 15px;
    }


    @include for-mobile-layout {
      width: 35px;
      margin-inline-end: 5px;
    }
    
    width: 50px;

    margin-inline-end: 8px;
  }
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  height: 105vh;
  z-index: 500;
  width: 270px;


  padding-inline-start: 20px;
}

.top{
  width: 50px !important;
  margin-right: 10px !important;
}

.slideIn{
  opacity: 1;
  translate: 0% 0%;
  }