@font-face {
  font-family: Macan-bold;
  src: url('/src/assets/fonts/macan/macan-bold.ttf');
}

@font-face {
  font-family: Macan-semi-bold;
  src: url('/src/assets/fonts/macan/macan-semibold.woff2');
}

@font-face {
  font-family: Macan-Regular;
  src: url('/src/assets/fonts/macan/macan-regular.woff2');
}

@font-face {
  font-family: Macan-Light;
  src: url('/src/assets/fonts/macan/macan-light.ttf');
}

@font-face {
  font-family: Domain-Regular;
  src: url('/src/assets/fonts/domain/domaine-display-regular-italic.otf');
}

@font-face {
  font-family: Domain-Medium;
  src: url('/src/assets/fonts/domain/domain-display-medium-italic.otf');
}
