// Colors
$clr1: #222325;
$clr2: #74767e;
$clr3: #62646a;
$clr4: #404145;
$clr-main: #1dbf73;
$clr6: #fff;
$clr01: #95979d;
$clr02: #62646a;
$clr7: #c2c2c2;
$clr8: #f1fdf7;
$clr9: #dadbdd;
$clr10: #d0d0d063;
$clr11: #fafafa;
$clr-star: #ffc100;
$clr-progress-bar: #ffb33e;
$clr-review-star: #02c2a9;
$clr12: #b5b6ba;
$clr13: #446ee7;
// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 948px;
$normal-breakpoint: 1500px;
$padding: 30px;