// Colors
$clr1: #222325;
$clr2: #74767e;
$clr3: #62646a;
$clr4: #404145;
$clr-hover: #1dbf73;
$clr6: #fff;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 1500px;
